<form #formulario="ngForm">
  <div>
    <label for="inputNombre">Nombre</label>
    <input required type="text" id="inputNombre" name="nombre" [(ngModel)]="persona.nombre" #nombre="ngModel">
    <div *ngIf="nombre.invalid && nombre.touched">
      <p>El campo <strong>nombre</strong> NO puede ser nulo</p>
    </div>
  </div>
  <br>
  <div>
    <label for="inputApellido">Apellido</label>
    <input required type="text" id="inputApellido" name="apellido" [(ngModel)]="persona.apellido" #apellido="ngModel">
    <div *ngIf="apellido.invalid && apellido.touched">
      <p>El campo <strong>apellido</strong> NO puede ser nulo</p>
    </div>
  </div>
  <br>
  <div>
    <label for="inputEdad">Edad</label>
    <input required type="text" id="inputEdad" name="edad" [(ngModel)]="persona.edad" #edad="ngModel">
    <div *ngIf="edad.invalid && edad.touched">
      <p>El campo <strong>edad</strong> NO puede ser nulo</p>
    </div>
  </div>
  <br>
  <div>
    <button (click)="guardar()">Guardar</button>
    <button (click)="cancelar()">Cancelar</button>
  </div>

</form>
